$padding-control: 0.65rem 0.85rem;
$border-color: #eaecf0;
$border-color-control: #dddee0;
// Paleta de colores
$theme-colors: (
    'primary': #2563eb,
    'success': #2ecc71,
    'danger': #cf2815,
    'warning': #f1c40f,
    'info': #3498db
);
$theme-colors-light: (
    'primary': #f3f4f6,
    'success': #defaea,
    'danger': #ffe4e1,
    'warning': #fff3cd,
    'info': #d9edf7
);
$border-colors-light: (
    'primary': #f3f4f6,
    'success': #8beab3,
    'danger': #ffcdc7,
    'warning': #fff3cd,
    'info': #d9edf7
);
$color-text-light: (
    'primary': #111827,
    'success': #072c18,
    'danger': #842318,
    'warning': #f1c40f,
    'info': #2b6cb0
);



// margenes
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 3rem;