.container {
    max-width: 1200px;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.badge {
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    font-size: 0.85rem;
}
.badge--light{
    border: 1px solid #eaecf0;
    color: #111827;
}

.m-0 {
    margin: 0;
}

.form-control {
    @include form-control();
}

.form-group{
    margin-bottom: 1.5rem;
    width: 100%;

    label{
        display: block;
        margin-bottom: 0.5rem;
        font-weight: 600;
        font-size: 0.875rem;
    }
    
}

.has-error{

    .form-control{
        border-color: map-get($theme-colors, 'danger');
        box-shadow: 0 0px 5px 0px rgba(207, 40, 21, 0.5)
    }
    .control-invalid{
        color: map-get($theme-colors, 'danger');
        font-size: 0.850rem;
        display: block;
        margin-top: 0.5rem;
    }
}

.control-icon-start {
    @include icon-control('left');
}
.control-icon-right{
   @include icon-control('right');
   justify-content: end;

}
.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}
.alert{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
}
.alert--light-danger{
    background-color: #ffe0dd;
    border:1px solid #ff6959;
    color: #ff6959;
    p {
        margin-bottom: 0;
        font-size: 0.95rem;
    }
}

@each $name, $color in $theme-colors-light {
    .badge--light-#{$name} {
        background-color: $color;
        border: 1px solid map-get($map: $theme-colors, $key: $name);
        color: map-get($map: $color-text-light, $key: $name);
    }
}

@media (max-width: 480px) {
    .container{
        padding: 0 1rem;
    }
}
@media (max-width: 768px) {
    .container{
        padding: 0 1rem;
    }
}