<main>
    <section class="login">
        <div class="login__background"></div>
        <div class="login__polka-dot"></div>
        <div class="login__form">
            <h1 class="text-center">Iniciar sesión</h1>
            <p>Ingresa tus credenciales para acceder y registrar nuevos buscados.</p>
           <form [formGroup]="loginForm" (ngSubmit)="login()">
             <div class="form-group" [ngClass]="{ 'has-error': isValid('correo') }">
                <label>Email</label>
                <input type="correo" formControlName="correo" class="form-control" placeholder="ingrese su correo">
                <div class="control-invalid" *ngIf="isRequired('correo')">
                    email es obligatorio
                </div>
                <div class="control-invalid" *ngIf="(loginForm.get('correo')?.hasError('email') &&
                 loginForm.get('correo')?.dirty)">
                    ingrese un correo valido
                </div>
             </div>
             <div class="form-group" [ngClass]="{ 'has-error': isValid('password') }">
                <label>Contraseña</label>
                <div class="control-icon-right">
                    <input [type]="isTypePassword? 'password' : 'text'"  formControlName="password" class="form-control" placeholder="ingrese su contraseña">
                    <i class="bx bx-show" *ngIf="isTypePassword" (click)="isTypePassword = false"></i>
                    <i class="bx bx-hide" *ngIf="!isTypePassword" (click)="isTypePassword = true"></i>
                </div>
                <div class="control-invalid" *ngIf="isRequired('password')">
                    contraseña es obligatoria
                </div>
             </div>
             <div class="form-group">
                <button [disabled]="loginForm.invalid" class="btn d-flex align-items-center login__ingresar" type="submit">
                    Ingresar
                    <i class='bx bx-right-arrow-alt ml-sm'></i>
                </button>     
             </div>
             <div class="alert alert--light-danger" role="alert" *ngIf="errorLogin">
                <p>{{ errorLogin }}</p>
             </div>
             <div class="form-group text-center">
                ¿ Aun no eres usuario ? <a>Registrarse</a>
            </div>
           </form>
        </div>
    </section>
</main>
